.chat{
    display: flex;
    height: 100%;
    .left{
        padding-right: 12px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        .collection-list{
            li{ 
                a{
                    padding: 12px 12px;
                    display: block;
                }
                
            }
            .rooms{
                
            }
        }
        .rooms{
            a, a:visited{ color: var(--color); }
            .room_entrance{
                margin-bottom: 6px;
                padding: 6px 2px 6px 2px;
                .user_info, .info{
                    font-size: 0.7rem;
                }
            }
        }
    }

    .middle{
        flex: 1 1;
    }
}


