.collection_menu{
    overflow: hidden;
    .image{
        height:32px;
        max-width:32px;
        overflow: hidden;
        img{
            height: 100%;
        }
    }
}

.chat{
    display: flex;
    height: 100%;
    
    padding-top:0;
    padding-bottom:0;
    
    .left{
        width: 280px;
        .header{
            display: flex;
            overflow: hidden;
            .chainSelect{
                // display: flex;
                // align-items: center;
                // font-family: "Roboto", sans-serif;
                // font-size: 14px;
                padding: 4px 9px 0;
                height: 100%;
                border: none;
                border-radius: 0;
            }
        }
        .main{
           
        }
        .footer{

        }
        padding-top:6px;
        overflow-y: auto;
        padding-right: 6px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        .collection_select{
            width:100%;
            padding: 6px 12px;
            border-radius: 0px;
            height: auto;
            display: flex;
            align-items: center;
            span{
                overflow: hidden;
            }
            .image{
                height:32px;
                max-width:32px;
                overflow: hidden;
                img{
                    height: 100%;
                }
            }
        }
        .actions{
            // margin: 6px auto;
        }
        .collection-list{       //Validate This
            li{ 
                a{
                    padding: 12px 12px;
                    display: block;
                }
                
            }
            .rooms{
                
            }
        }
        .rooms{
            a, a:visited{ color: var(--color); }
            margin: 6px 0;
            .room_entrance{
                margin-bottom: 6px;
                // padding: 6px 2px 0px 6px;
                .user_info, .info{
                    font-size: 0.7rem;
                    opacity: 0.75;
                    dd{
                        margin-right: 6px;
                    }
                }
                .updated{
                    float: right;
                    font-size: 0.66rem;
                    opacity: 0.75;
                }
                .image{
                    padding: 6px 8px 0;
                }
                .content{
                    padding: 6px 3px 6px 0px;
                }
                .vote{
                    // margin-top: 0px;
                }
                .comments{
                    
                }
            }
        }
    }
    .middle{
        flex: 1 1;
        overflow-y: auto;
        padding-top:6px;
        .room-header{
            padding: 2px 12px;
            margin-bottom: 6px;
            // border-bottom: 1px solid var(--colorBgNeg);
        }
        .RoomMainAdd {
            .texts{
                margin-bottom: 6px;
            }
        }
        .room_head{
            >.inner{
                display: flex;
                justify-content: space-between;
                padding: 3px 5px 0 0;  //Compensate for Ant header
                .content { 
                    padding:0 10px; 
                    flex: 1 1; 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                }
                .anticon{ margin-right: 5px; }
            }   
        }
        .room_single {
            padding-top: 6px;
        }
        .room_add{
            margin: 0;
            padding: 0;
            .content{
                padding: 0;
            }
        }
    }
    .right {
        padding-top:6px;
        overflow-y: auto;
        display: none;
    }
    .comment_add{
        .ant-comment{
            padding:0 12px;   
        }
    }
}
