:root {
    --headerHeight:64px;
    --footer-height:63px;
    --cardWidth: 260px;
    --cardHeight: 365px;
    --avatarMD:120px;
    --avatarSM:48px;
    --borderRadius: 12px;
    --padding: 15px;
    --pageWidth: 1200px;
    --shadowColor:#bbb;
    
    --color:#262626;
    --colorBG: #f0f2f5;
    --faintBG: rgba(244, 244, 244, 0.6);
    --colorHeading:#444;
    --headerBG:#e2e2e2;
    --footerBG:#e2e2e2;
    --cardBG: #fff;
    --monochrome: #fff;

    --colorBgPos: rgba(240, 240, 240, 0.9);
    --colorBgNeg: rgba(0, 0, 0, 0.2);

    --comment-background: #f5f5f5;
    /* --colorLink:#1890ff; */
    --colorLink: blueviolet;
    /* --color:rgb(4, 24, 54); */
    /* --invert: black; */
    --colorAccent: #F68B4F;
    --colorAccent2: #21bf96;
    // --ant-primary-color: rgb(246,115,79);
}

.light_theme {
    .wrapper_main {
        /* background-image: url("images/bg_purple.png"); */
        background-image: url("/images/bg_x1200.jpg");
        background-color: rebeccapurple;
        background-size: cover;
        .mainContent{
            background-color: rgba(240, 240, 240, 0.9);
        }
    }
    // .ant-layout-header{
    //     background: rgb(255, 255, 255, 0.85);
    // }
    // .wrapper_main>header, .wrapper_main>footer { box-shadow: 0 0 8px #bbb;}

}
.dark_theme {
    --color: #fdfdfd;
    --colorBG: #414141;
    --faintBG: rgba(0,0,0, 0.8);
    // --faintBG: rgba(244, 244, 244, 0.6);
    --headerBG:#2d2d2d;
    --footerBG:#2d2d2d;
    --cardBG: #f1f1f1;
    --monochrome: #000;

    --comment-background: #f1f1f1;
    --colorHeading: #f1f1f1;
    --shadowColor:#333;
}

// .wrapper_main>header, .wrapper_main>footer { box-shadow: 0 0 8px var(--shadowColor);}