.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21bf96 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}


/*-- CUSTOM STYLES --*/

.ant-comment-avatar {cursor: default;}
.main_color { color:rgb(246,115,79);}
.ant-btn-primary:hover, 
.ant-btn-primary:focus,
.ant-btn-primary { 
  /* background-color: #F68B4F; */
  /* #FDE348 */
    
  background: rgb(246,115,79);
  background: linear-gradient(0deg, rgba(246,115,79,1) 14%, rgba(246,208,79,1) 100%);
  /* border-color: #F68B4F; */
  border: none;
}
:root {
  --background-color: #f0f2f5;
  --headerHeight:64px;
  --footer-height:63px;
  --cardWidth: 260px;
  --cardHeight: 365px;
  --cardBG: #fff;
  --avatarMD:120px;
  --comment-background: #f5f5f5;
  --color:#262626;
  --colorHeader:#444;
  /* --colorLink:#1890ff; */
  --colorLink: blueviolet;
  /* --color:rgb(4, 24, 54); */
  /* --invert: black; */
  --monochrome: #fff;
  --borderRadius: 12px;
  --padding: 15px;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--colorHeader);
  font-weight: 600;
  /* font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif; */
  font-family: Arial, sans-serif;
}
h1{
  font-size: 2rem;
  font-weight: 700;
}
.carved {
  display: block;
  font: bold 3rem Arial, sans-serif;
  position: relative;
  white-space: nowrap;
  color: #0e0a30;
  /* width: 100%; */
}
.carved:before, 
.carved:after {
  content: attr(title);
  position: absolute;
  white-space: nowrap;
}
.carved:before { top: 1px; left: 1px; color: rgba(255,255,255,.5); }
.carved:after  { top: 2px; left: 2px; color: rgba(255,255,255,.4); }


button.arrow{
  font-size: 1.2rem;
  line-height: 1.2rem;
  /* // style={{fontSize: '1.6em', lineHeight: '1em', borderRadius:22}} */
}

body{
  height:100vh;
  font-family: "Open Sans", Roboto, sans-serif;
  color: var(--color);
}

.wrapper_main {
  background-image: url("images/bg_purple.png"); 
  background-color: rebeccapurple;
  background-size: cover;

}
.container {
  background-color: rgba(240, 240, 240, 0.9);
  /* background: var(--comment-background); */
  border-radius: var(--borderRadius);
}
.wrapper_main .mainContent{
  background-color: rgba(240, 240, 240, 0.9);
}

dt { text-transform: capitalize; }
.ant-layout-content { margin-top: var(--headerHeight); }
/* .mainContent{ margin-top: var(--headerHeight); } */
footer { margin-top: 40px; }
header, footer { box-shadow: 0 0 8px #bbb;}
/* .mainContent { min-height: 64vh;} */

/* GLOBAL MODIFIERS */
small {font-size: 73%;}
.flex {display: flex;}
.itemsCenter {align-items: center;}
.clearfloat{  clear: both; width: 100%; display: block; }
.framed{ padding: var(--padding); max-width: 1200px; margin:0 auto;} 
.hr { border-top: 1px solid var(--background-color); border-radius: 0 !important;}
.link {color:var(--colorLink);}
.glass { background-color: rgba(255, 255, 255, 0.5);}
.pointer { cursor: pointer; } 

/* NFT Item Display */
.NFTitems .item .flip-card-back .metadata,
.NFTitems .item .flip-card-front,
.NFTitems .item .flip-card-back { border-radius: 15px 15px 0 0 ;}
.item .flip-card-back dl dl dd { margin-left:10px; }


/* Persona Business Card */
.business_card_container {
  border: 2px solid rgb(231, 234, 243);
  box-shadow: 0 0 10px #9ecaed;
  padding: 10px;
  border-radius: var(--borderRadius);
  overflow: hidden;
  background-color: var(--background-color);
}

.ant-card-body:empty {display: none;} /* AntD Card */

.collections .middle { 
  display:flex; 
  justify-content: space-between;
}
.space .collections .middle { 
  position: sticky;
  top: 0;
}


/* Space - Room List */
/* .room_list .ant-collapse { border:none; background:none; } */
.room_list .room_entrance:last-child {
  /* border-bottom: 1px solid #9ecaed; */
  /* margin-bottom:10px; */
}

.post { 
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;  
}
.post a { color:inherit; }
.post .content { padding: 10px 0;} 
.post .avatar {
  margin-left: -60px;
  display: inline-grid;
}
.post .avatar .crypto_addr { font-size: 0.8em; margin: -32px auto 0; }


/* Simple Click Effect  https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css?rq=1 */
.ant-btn,
button { 
  transition: filter 0.3s ease 0.3s; 
  border-radius: 1rem; 
}
button:active {
  filter: drop-shadow(0 0 0 steelblue);
  transition: filter 0s;
}
.button_full {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}
.btn-no, .btn-no:hover, .btn-no:active, .btn-no:focus {
  border: none;
  background: none;
}
/* Address */
.crypto_addr { }


/* Chain Select */
.chainSelect{
  display: flex;
  align-items: center;
  height: 42px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 22px 10px;
  border: 2px solid rgb(231, 234, 243);
  border-radius: 12px;
  background-color: rgba(244, 244, 244, 0.87);
}

/* Misc. */
.show_more { padding: 7px; justify-content: center; cursor: pointer; }
.floor_mat {

}

/* Responsivity */
/* @media only screen and (max-width: 920px) {
  .collections .center_wrapper{ flex-direction: column; }
} */
@media only screen and (max-width: 1100px) {
  .collections .stack {display: none;}
}

/* Animations */
@keyframes slideIn {
  to { transform: translateX(0); }
}
@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadeIn {
  /* Firefox */
  from { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes fadeIn {
  /* Opera */
  from { opacity:0; }
  to { opacity:1; }
}
