.ant-popover-message-title .tooltip { margin-top: 20px; }
.tooltip {
    line-height: 1.7em;
    font-size: 1.1em;
    li {
        list-style:circle;
    }    
}
.ant-message-notice-content { border-radius: var(--borderRadius); }

.ant-layout-header { 
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgb(255, 255, 255, 0.85);
    .ant-menu { 
        background: transparent; 
        border: none; 
        font-size: 17px;
        font-weight: 500;
        flex: 1 1;
        // display: flex,
        // width: 100%,
        // justifyContent: center,
        overflow: hidden;
    }
}
.corner_menu {
    display: flex;
    flex-direction: column;
    .title:hover { background: none; cursor: default;}
    .title {
        font-size: 1.2rem;
        text-align: center;
        // border-bottom: 1px solid #e8e8e8;
    }
    li {
        border-radius: var(--borderRadius);
    }
    .persona_select{
        padding: 0px; 
        // display: flex;
        // flex-direction: column;
        // justify-content: left;
        // align-items: left;
        // flex: 1 1;
        // background-color: #f5f5f5;
        .BusinessCard { 
            margin:7px;
        }
        .item{

        }
    }
}

/* Request for Authentication */
.auth_req {
    padding: 50px;
    min-height: 350px;
}

/* Page:Persona */
.persona {
    padding-top: 0px;
    >.header{
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        .cover-uploader {
            float:right;
            bottom: 40px;
            position: relative;
            right: 10px;
            .in_progress{
                color: var(--background-color);
                margin-top: -10px;
            }
        }
        .cover{ 
            width:100%; 
            height: 230px; 
            overflow: hidden; 
            // background-color: #ffffff;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .noCover{
            .cover {
                // background-color: #888;
                border: 1px solid #ddd;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23333333' fill-opacity='0.31' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: auto;
                background-repeat: repeat;
            }
            .in_progress{ 
                color: #666;
            }
        }
    }
    .details {
        display: flex; 
        margin-top: 10px;
        margin-bottom: 40px;
        .actions {
            margin-left:auto;
            .button {
                i { 
                    margin-right: 5px;
                }
            }
        }
        .image{ 
            position: relative;
            // top: -6rem;
            margin: -7rem auto auto 17px;
            // background: var(--background-color);
            background: white;
            border-radius: 50%;
            padding: 7px;
        }
    }
    .handle{
        margin-bottom: 5px;
        // .ant-form-item-children-icon { margin-right: 82px; margin-top: -8px; }
        .ant-row { margin-bottom: 5px; }
        .ant-form button {margin-left: 4px;}
    }
    .location {
        i { margin-right: 3px; }
    }
    .info{ 
        margin-left: 15px;
        flex: 1 1;
        h3 {
            text-transform: capitalize;
            margin-top:7px;    
        }
        // h3:after { content: ":"; }
         
    }
    .main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .primary { 
        padding-left: 0;
        flex-grow: 1; 
    }  
    .social { 
        .item {
            // border-radius: 17px;
        }
    }
    .secondary{
        padding-right: 0;
        .item {
            border:1px solid #d9d9d9; 
            
            background-color: #fafafa; 
            margin-bottom:5px; 
            position: relative; 
            
            i { 
                padding-right: 10px; font-size: 1.8em; vertical-align: middle; 
                transition: .32s ease-in; z-index: 3; 
            }
        }
        .view {

            .handle:hover {  }
            // .ant-collapse-header:hover .textSwitch .handle { top:-20px; }
            // .ant-collapse-header:hover .textSwitch .network { top:-60px; }
            .ant-collapse-header:hover .inner  { bottom: 3rem; }
    
            .ant-collapse { border:none; background: transparent; }
            
        
            .item {
                border-radius: 17px;
                overflow: hidden;
                i:before { transition: transform 0.5s ease-in; }
                a { display:flex; color:var(--color); min-width: 120px; white-space: nowrap; align-items: center; text-overflow: ellipsis; }
                a:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: gray;
                    transition: .32s ease-in;
                    z-index: 2;
                }
                a[data-network="twitter"]:after{ background: #1877f2; }
                a[data-network="facebook"]:after{ background: #1da1f2; }
                a[data-network="github"]:after{ background: #1da1f2; }
                a[data-network="linkedin"]:after{ background: #0A66C2; }
                a[data-network="telegram"]:after{ background: #1da1f2; }
                a[data-network="instagram"]:after{ background: #c32aa3; }
                a[data-network="youtube"]:after{ background: #ff0000; }
                a[data-network="twitch"]:after{ background: #1da1f2; }
                a[data-network="reddit"]:after{ background: #FF5700; }
                a[data-network="medium"]:after{ background: #1da1f2; }
                a[data-network="discord"]:after{ background: #1da1f2; }
        
            } 
            .item:hover .handle,
            .item:hover i { color: var(--monochrome); z-index: 3; position:relative;}
            .item:hover a:after { top: 0; }
            .item:hover i:before { transform: rotate(-180deg); }      
        }
        .edit {
            max-width: 420px; 
            .ant-input-group-addon,
            .ant-input:hover,
            .ant-input:focus,
            .ant-input:focus-visible,
            .ant-input { border: none; }
            .item{
                border-radius: 14px;
                overflow: hidden;
                input {
                    padding: 10px 10px;
                }
                button { height: 42px; width: 48px; }
            }
        }
        .ant-collapse-header {
            flex-direction: row-reverse; justify-content: space-between; color: inherit; cursor: initial; 
            flex-flow: row;
            padding: 6px 12px; 
            overflow: hidden; 
        }
        .ant-collapse-arrow {margin: 0 0 0 12px !important;}
        
        .textSwitch {
            // justify-content: start;        
            height: 3em;
            flex-wrap: nowrap; 
            padding-top: 0.8em;
            .inner {
                height:80px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 5em;
                position: relative;
                bottom: 0;
                transition: bottom .6s ease-in-out;
                .text {
                    // transition: bottom 1s ;
                }

            }
            .handle { 
                // top:60px; 
            }
        }
      
    }
    
    .accounts { 
        flex-grow: 1; 
        border-radius: var(--borderRadius);
        .ant-tabs-nav-add,
        .ant-tabs-tab {border-radius: 12px 12px 0 0 !important; border:0; }
        .ant-tabs-content-holder { background: var(--monochrome); border-radius: 0 20px 20px 20px; }
        .ant-tabs-nav {margin:0; }
    }    
    
}//.persona
// .personaEdit{
.upload_container{ 
    position: relative;
    .upload_icons {
        background: rgba(0,0,0, 0.72);
        color: rgba(255,255,255, 0.75);
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: -4%;
        bottom: 2%;
        width: 1.7em;
        height: 1.7em;
        line-height: 1.7em;    
        font-size: 1.7em;
    }
    .anticon-loading { font-size: 3.2em; }
    .upload_icons:hover { background: rgba(0,0,0, 0.66);  }
}
    .avatar-uploader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .ant-upload {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 100%;
            width: 100%;
            
            color: #ccc;
            // background-color: white; 
            // .and-upload {
                // border: 1px solid;
                border-radius: 50%;
                
            // }
            
            /*
            >div.upload {
                position:relative;
                right: 50%;
                width: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            */
        }
        // .ant-upload.ant-upload-select-picture-card {width:auto; height:auto; }
    }

// }

/* Persona Edit */
.personaEdit{
    .buttons { margin: 30px 0; }
    .social_wrapper,
    .links_wrapper { margin-top: 20px; }
    .items{ 
        margin-top: 10px;
        .item { min-width: 200px; margin: 5px; }
    }
    .accounts .crypto_addr { font-size: 0.9em;}
    .social_wrapper .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        .item { width: 18%; }
    }
    .saving { 
        text-align:center; 
        .ant-spin {display: block; }
    }
}
/* Business Card */

.BusinessCard {
    display: block;
    overflow: hidden;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 220px;
    background-color: var(--monochrome);
    border-radius: var(--borderRadius);
    /* box-shadow: 0 0 10px #9ecaed; */
    padding: 10px;
    margin: 10px;

    .top { 
        display: flex; flex-direction: row; justify-content: space-between; 
        .image {
            background-color: var(--monochrome);
            border-radius: 50%;
            padding: 4px;
            position: relative;
            left: -5px;
        }
    }

    .bottom { 
        display: flex; flex-direction: row; justify-content: end; 
        .actions {
            display: flex; justify-content: space-evenly;
        }
    }
    
}//.BusinessCard


/* NFT Item Display */
.NFTitems { 
    transition-delay: 5s; 
    transition: all 1s ease-in-out; flex-shrink:0; 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .item {
        border-radius: 18px;
        transform-origin: center bottom;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
        margin: 20px 10px;
        transition: all 0.6s ease-in-out;
        overflow: visible !important; 
        /* Flip Cards  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
        .flip-card {
            background-color: transparent;
            /*width: var(--cardWidth);*/
            height:var(--cardHeight);
            perspective: 1000px;
            margin: auto;
            .flip-card-inner {
  
                /*
                background: var(--cardBG);
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                text-align: center;
                */
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform 0.6s;
                transform-style: preserve-3d;
            }
            .flip-card-front, 
            .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                overflow: hidden;
            }
            .flip-card-front {
                text-align: center;
                /*background-color: #bbb;*/
                color: black;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .flip-card-back {
                padding: 12px;
                background-color: #fff;
                // border: 1px solid #333;
                // box-shadow: 0 0 10px #9ecaed;
                /* color: white; */
                transform: rotateY(180deg);
                overflow-y: auto;
                .metadata {
                    color: #333;
                    width: 100%;
                    height: 100%;
                    outline: 1px solid #eee;
                    overflow-y: auto;
                    overflow-x: hidden;
                    .inner{
                        min-height: 100%;
                        padding: 6px; 
                        /*https://heropatterns.com/*/
                        background-color: var(--monochrome);
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23002b9b' fill-opacity='0.06' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
                    }
                    dd{ 
                        max-width: 100%; 
                        label {
                            text-transform: capitalize;
                            text-decoration: underline;
                            
                        }
                        label:after { content: ': '; }
                        span {
                            white-space: nowrap;
                        }
                    }
                    .attributes {
                        dt {
                            width:100%;
                        }
                        dl {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            dd {
                                font-size: 0.9em;
                                width: 49%;  
                                text-align: center;
                                // background-color: rgba(21, 178, 229, 0.06);
                                background-color: rgba(229, 229, 229, 0.2);
                                border-radius: 6px;
                                border: 1px solid rgb(21, 178, 229);
                                padding: 10px 2px;
                                margin: 0 0 3% 0;
                                overflow: hidden;

                                font-weight: 500;
                                label {
                                    display:block;
                                    text-transform: uppercase;
                                    color:turquoise;
                                    letter-spacing: 2px;
                                    font-size: 0.9em;
                                    text-decoration: none;
                                    text-overflow: ellipsis;
                                }
                                label:after { content: ''; }
                                .value {
                                    font-size: 1.2em;
                                    text-transform: capitalize;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
            }
        }
        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }
    }
}
  
/* Stack */
.stack {
    flex-wrap: nowrap;
    .NFTitems { 
        padding: 20px 182px 20px 80px; flex-wrap: nowrap; min-width: 480px; 
        /* .item:not(:first-child) { margin-left:-300px; } */
        .item { 
            margin-right:-300px; 
        }
        .item:nth-child(2n) { transform: rotate(10deg); }
        .item:nth-child(3n) { transform: rotate(20deg); }
        .item:nth-child(4n) { transform: rotate(30deg); }
        .item:nth-child(n+5) {  display: none;}  /*4 Items Tops*/
        .item>ul { border-radius: 0 0 20px 20px; }
    }
}

/* Page: Space */
.pageSpace .middle { display:flex; }
.space_container {
    transform: translateX(110%);
    animation: slideIn 0.6s ease-in-out forwards;
    animation-delay: 0.15s;
    overflow-y: auto;
    /* height: calc(100vh - 320px); */
    display: flex;
    flex-grow: 1;
    .disallowed{
        margin-top:10px;
        line-height: 1.8em;
    }
}
.space_container:nth-child(odd) { animation-duration: 0.6s; /* So they look staggered */ }
.SpaceEmpty p { margin:10px 0; }
.space {
    transition-delay: 0.6s;
    flex: 1 1;
    overflow: hidden;
    .ant-collapse-content { background: none;}
}

/* Account */
.account {     
    color: #21bf96;
    height: 48px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 2px solid rgb(231, 234, 243);
    border-radius: 12px;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    .image { 
        height: 38px; 
        width: 38px;
    }
    p.text {
        font-size:1.1em;
    }
    p.hash {
        margin-right: 5px;
        color: rgb(33, 191, 150);
    }
    /*
    .main_button{
        width: 100%; 
        border-radius: 0.5rem; 
        font-size: 16px; 
        font-weight: 400;
    }*/
}
.lightUp{
    transition: all 0.2s ease-in-out;
}
.lightUp:hover{
    color: #40a9ff;
    border-color: #40a9ff;
    box-shadow: 0 0 7px #9ecaed;
}

.room_list.single{
    .ant-collapse-item {display: none;}
    .ant-collapse-item-active { display: block; }
}

/* Room List */
.room_list {
    clear: both;
    .ant-collapse-header { display:block !important; }
    .ant-collapse > .ant-collapse-item { border:none; position:relative; }
    .ant-collapse > .ant-collapse-item:after {
        content: "";
        border-bottom: 1px solid #d9d9d9;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 88%;
      }
    .room_entrance{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        /* margin: 10px 0; */
        /* border: 1px solid #9ecaed; */
        /* border-radius: 20px; */
        /* border-top: 1px solid #9ecaed; */
        .image { flex: 0 0;}
        .content { padding:0 10px; flex: 1 1; }
        .anticon{ margin-right: 5px; }
        .vote { margin: auto 0 auto auto ; }
    }
}

/* Component: Cards (NFT List) */
.cards {
    .ant-card-meta-detail {
        flex-direction: column-reverse;
        display: flex;
        
        .ant-card-meta-description {
            font-size: 0.75rem;
            color: #999;
        }
    }
}

/* Token Send Widget */
.token_send {
    .inputEl{
        border-radius: 12px;
    }
    .ant-select-selector {
        border-radius: 12px !important;
    }
}