.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid var(--colorAccent2) !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: var(--colorAccent2) !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}


/*-- CUSTOM STYLES --*/

.ant-comment-avatar {cursor: default;}
.main_color { color:rgb(246,115,79);}
.ant-btn-primary:hover, 
.ant-btn-primary:focus,
.ant-btn-primary { 
  /* background-color: #F68B4F; */
  /* #FDE348 */
    
  background: rgb(246,115,79);
  background: linear-gradient(0deg, rgba(246,115,79,1) 14%, rgba(246,208,79,1) 100%);
  /* border-color: #F68B4F; */
  border: none;
}
.ant-btn i {
  padding-right:3px;
}
.ant-btn-sm i{
  font-size: 0.82em;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--colorHeading);
  font-weight: 600;
  /* font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji,sans-serif; */
  font-family: Arial, sans-serif;
}
h1{
  font-size: 2rem;
  font-weight: 700;
}
.carved {
  display: block;
  font: bold 3rem Arial, sans-serif;
  position: relative;
  white-space: nowrap;
  color: #0e0a30;
}
.carved:before, 
.carved:after {
  content: attr(title);
  position: absolute;
  white-space: nowrap;
}
.carved:before { top: 1px; left: 1px; color: rgba(255,255,255,.5); }
.carved:after  { top: 2px; left: 2px; color: rgba(255,255,255,.4); }


button.arrow{
  font-size: 1.2rem;
  line-height: 1.2rem;
  /* // style={{fontSize: '1.6em', lineHeight: '1em', borderRadius:22}} */
}

body{
  height:100vh;
  font-family: "Open Sans", Roboto, sans-serif;
  color: var(--color);
}
.container {
  background-color: rgba(240, 240, 240, 0.9);
  /* background: var(--comment-background); */
  border-radius: var(--borderRadius);
}
.indent{
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: var(--borderRadius);
}

dt { text-transform: capitalize; }

/* ANT Design Overrides */
.ant-layout-content { margin-top: var(--headerHeight); }
.ant-table-tbody > tr > td {min-width: 60px;}
.ant-popover-inner { 
  border-radius: 15px; 
  background-color: var(--colorBG);
  box-shadow: 0 0 8px var(--shadowColor);
}
.ant-popover-arrow-content {
  background-color: var(--colorBG);
  width: 9px;
  height: 9px;
  box-shadow: 0 0 8px var(--shadowColor);
}
.ant-popover-message {
  color: var(--color);
}

/* GLOBAL MODIFIERS */
small {font-size: 73%;}
.flex {display: flex;}
.flex_col {display: flex; flex-direction: column;}
.itemsCenter {align-items: center;}
.clearfloat{  clear: both; width: 100%; display: block; }
.framed{ padding: var(--padding); max-width: var(--pageWidth); margin:0 auto;} 
.hr { border-top: 1px solid var(--colorBG); border-radius: 0 !important;}
.link {color:var(--colorLink); cursor: pointer;}
.glass { background-color: rgba(255, 255, 255, 0.5);}
.pointer { cursor: pointer; } 

/* NFT Item Display */
.NFTitems .item .flip-card-back .metadata,
.NFTitems .item .flip-card-front,
.NFTitems .item .flip-card-back { border-radius: 15px 15px 0 0 ;}
.item .flip-card-back dl dl dd { margin-left:10px; }


/* Persona Business Card */
.business_card_container {
  border: 2px solid rgb(231, 234, 243);
  box-shadow: 0 0 10px #9ecaed;
  padding: 10px;
  border-radius: var(--borderRadius);
  overflow: hidden;
  background-color: var(--colorBG);
}

.ant-card-body:empty {display: none;} /* AntD Card */

.collections .middle { 
  /* display:flex;  */
  /* justify-content: space-between; */
}
.space .collections .middle { 
  position: sticky;
  top: 0;
}


/* Space - Room List */
/* .room_list .ant-collapse { border:none; background:none; } */
.room_list .room_entrance:last-child {
  /* border-bottom: 1px solid #9ecaed; */
  /* margin-bottom:10px; */
}

.post { 
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;  
}
.post a { color:inherit; }
.post .content { padding: 10px 0;} 
.post .avatar {
  margin-left: -60px;
  display: inline-grid;
}
.post .avatar .crypto_addr { font-size: 0.8em; margin: -32px auto 0; }


/* Simple Click Effect  https://stackoverflow.com/questions/13630229/can-i-have-an-onclick-effect-in-css?rq=1 */
.ant-btn,
button { 
  transition: filter 0.3s ease 0.3s; 
  border-radius: 1rem; 
}
button:active {
  filter: drop-shadow(0 0 0 steelblue);
  transition: filter 0s;
}
.button_full {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}
.btn-no, .btn-no:hover, .btn-no:active, .btn-no:focus {
  border: none;
  background: none;
}
/* Address */
.crypto_addr { }


/* Chain Select */
.chainSelect{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 21px 16px;
  height: 42px;
  border-radius: 42px;
  border: 2px solid rgb(231, 234, 243);
  background-color: rgba(244, 244, 244, 0.87);
  /* background-color: var(--faintBG);  */
  /* border: 2px solid var(--faintBG); */
  /* border: none; */
}

/* Misc. */
.show_more { padding: 7px; justify-content: center; cursor: pointer; }
.floor_mat {

}

/* Responsivity */



/* @media only screen and (max-width: 920px) {
  .collections .center_wrapper{ flex-direction: column; }
} */
@media only screen and (max-width: 1100px) {
  .collections .stack {display: none;}
}
